<div *ngIf="username === '' || username == undefined">
  <form (ngSubmit)="chooseUsername(usernameEl)" id="usernameForm">
    <h3>Enter your username</h3>
    <div class="form-group">
      <input type="text" name="username" #usernameEl class="form-control input">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-block btn-primary">Choose username</button>
    </div>
  </form>
</div>
<div class="container send-msg-form" *ngIf="username !== '' && username !== undefined">
  <form (ngSubmit)="send()" id="sendMessageForm">
    <textarea name="message" class="form-control message" [(ngModel)]="message" cols="30" rows="10" placeholder="Enter your message"></textarea>
    <br>
    <button class="btn btn-primary btn-block send-btn" type="submit">Send</button>
  </form>
  <div>
    <br>
    <div *ngFor="let message of messages" [class.text-right]="message.user.id === id">
      <p class="user">{{message.user.username}}</p>
      <div class="msg" [class.orange]="message.user.id === id">{{message.message}}</div>
    </div>
  </div>
</div>
