.message{
  max-height:150px;
  height:150px;
}
.send-msg-form{
  overflow-y:auto;
  padding:10px;
}
#usernameForm{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
#sendMessageForm{
  padding:20px;
  position:absolute;
  bottom:0;
  left:0;
  border-top:1px solid #ccc;
  width:100%;
  background:white;
}
.orange{
  background:#fa6900 !important;
}
.user{
  margin-top:10px;
  color:#9e9a9a;
  font-style:italic;
  margin-bottom:2px;
  font-size:15px;
}
.msg{
  display:inline-block;
  max-width:100%;
  padding:5px 15px;
  border-radius:3px;
  color:white;
  background:#28abe3;
  word-break: break-all;
}
.msg p{
  margin-bottom:-6px;
  text-align:left;
}
.msg-time{
  font-size: 11px;
  font-style: italic;
}
